APP_NAME=DevLearn
APP_ENV=local
APP_KEY=base64:+ymH2Xr3CcLRHQJ7mzZ2+2hQWxsW5YHnCjBrY3QF0wI=
APP_DEBUG=true

# Virtual Host URL
APP_URL=devlearn.test

#local Host URL
LOCAL_APP_URL=http://devlearn.test

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=devlearn_database
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_FROM_ADDRESS=response@uims.test
MAIL_FROM_NAME=UIMS
MAIL_MAILER=smtp
# MAIL_HOST=smtp.gmail.com
MAIL_HOST=smtp.mailtrap.io
# MAIL_PORT=587
MAIL_PORT=2525
# MAIL_USERNAME=uimslocal@gmail.com
MAIL_USERNAME=bdbed7b1b4b5e9
# MAIL_PASSWORD=Uims@1234
MAIL_PASSWORD=f0c93c1e75470f
MAIL_ENCRYPTION=tls

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#GitHut_token_key=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 