<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elegant Dashboard | Media Library-01</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="./img/svg/logo.svg" type="image/x-icon">
  <!-- Dropzone CSS -->
  <link rel="stylesheet" href="./plugins/dropzone/dropzone.css">
  <!-- Quill stylesheet -->
  <link href="./plugins/quill.snow.css" rel="stylesheet">
  <!-- Custom styles -->
  <link rel="stylesheet" href="./css/style.min.css">
</head>

<body>
  <script>
    let darkMode = localStorage.getItem('darkMode');
    const darkModeToggle = document.querySelector('.theme-switcher');

    const enableDarkMode = () => {
      document.body.classList.add('darkmode');
      localStorage.setItem('darkMode', 'enabled');
    };
    if (darkMode === 'enabled') {
      enableDarkMode();
    }
  </script>
  <div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
  <!-- ! Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-start">
        <div class="sidebar-head">
            <a href="/" class="logo-wrapper" title="Home">
                <span class="sr-only">Home</span>
                <span class="icon logo" aria-hidden="true"></span>
                <div class="logo-text">
                    <span class="logo-title">Elegant</span>
                    <span class="logo-subtitle">Dashboard</span>
                </div>

            </a>
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle" aria-hidden="true"></span>
            </button>
        </div>
        <div class="sidebar-body">
            <ul class="sidebar-body-menu">
                <li>
                    <a class="active" href="/"><span class="icon home" aria-hidden="true"></span>Dashboard</a>
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon document" aria-hidden="true"></span>Posts
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                        <li>
                            <a href="posts.html">All Posts</a>
                        </li>
                        <li>
                            <a href="new-post.html">Add new post</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon folder" aria-hidden="true"></span>Categories
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                        <li>
                            <a href="categories.html">All categories</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon image" aria-hidden="true"></span>Media
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                        <li>
                            <a href="media-01.html">Media-01</a>
                        </li>
                        <li>
                            <a href="media-02.html">Media-02</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon paper" aria-hidden="true"></span>Pages
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                        <li>
                            <a href="pages.html">All pages</a>
                        </li>
                        <li>
                            <a href="new-page.html">Add new page</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="comments.html">
                        <span class="icon message" aria-hidden="true"></span>
                        Comments
                    </a>
                    <span class="msg-counter">7</span>
                </li>
            </ul>
            <span class="system-menu__title">system</span>
            <ul class="sidebar-body-menu">
                <li>
                    <a href="appearance.html"><span class="icon edit" aria-hidden="true"></span>Appearance</a>
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon category" aria-hidden="true"></span>Extentions
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                        <li>
                            <a href="extention-01.html">Extentions-01</a>
                        </li>
                        <li>
                            <a href="extention-02.html">Extentions-02</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon user-3" aria-hidden="true"></span>Users
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                        <li>
                            <a href="users-01.html">Users-01</a>
                        </li>
                        <li>
                            <a href="users-02.html">Users-02</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="##"><span class="icon setting" aria-hidden="true"></span>Settings</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-footer">
        <a href="##" class="sidebar-user">
            <span class="sidebar-user-img">
                <picture><source srcset="./img/avatar/avatar-illustrated-01.webp" type="image/webp"><img src="./img/avatar/avatar-illustrated-01.png" alt="User name"></picture>
            </span>
            <div class="sidebar-user-info">
                <span class="sidebar-user__title">Nafisa Sh.</span>
                <span class="sidebar-user__subtitle">Support manager</span>
            </div>
        </a>
    </div>
</aside>
  <div class="main-wrapper">
    <!-- ! Main nav -->
    <nav class="main-nav--bg">
  <div class="container main-nav">
    <div class="main-nav-start">
      <div class="search-wrapper">
        <i data-feather="search" aria-hidden="true"></i>
        <input type="text" placeholder="Enter keywords ..." required>
      </div>
    </div>
    <div class="main-nav-end">
      <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
        <span class="sr-only">Toggle menu</span>
        <span class="icon menu-toggle--gray" aria-hidden="true"></span>
      </button>
      <div class="lang-switcher-wrapper">
        <button class="lang-switcher transparent-btn" type="button">
          EN
          <i data-feather="chevron-down" aria-hidden="true"></i>
        </button>
        <ul class="lang-menu dropdown">
          <li><a href="##">English</a></li>
          <li><a href="##">French</a></li>
          <li><a href="##">Uzbek</a></li>
        </ul>
      </div>
      <button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
        <span class="sr-only">Switch theme</span>
        <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
        <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
      </button>
      <div class="notification-wrapper">
        <button class="gray-circle-btn dropdown-btn" title="To messages" type="button">
          <span class="sr-only">To messages</span>
          <span class="icon notification active" aria-hidden="true"></span>
        </button>
        <ul class="users-item-dropdown notification-dropdown dropdown">
          <li>
            <a href="##">
              <div class="notification-dropdown-icon info">
                <i data-feather="check"></i>
              </div>
              <div class="notification-dropdown-text">
                <span class="notification-dropdown__title">System just updated</span>
                <span class="notification-dropdown__subtitle">The system has been successfully upgraded. Read more
                  here.</span>
              </div>
            </a>
          </li>
          <li>
            <a href="##">
              <div class="notification-dropdown-icon danger">
                <i data-feather="info" aria-hidden="true"></i>
              </div>
              <div class="notification-dropdown-text">
                <span class="notification-dropdown__title">The cache is full!</span>
                <span class="notification-dropdown__subtitle">Unnecessary caches take up a lot of memory space and
                  interfere ...</span>
              </div>
            </a>
          </li>
          <li>
            <a href="##">
              <div class="notification-dropdown-icon info">
                <i data-feather="check" aria-hidden="true"></i>
              </div>
              <div class="notification-dropdown-text">
                <span class="notification-dropdown__title">New Subscriber here!</span>
                <span class="notification-dropdown__subtitle">A new subscriber has subscribed.</span>
              </div>
            </a>
          </li>
          <li>
            <a class="link-to-page" href="##">Go to Notifications page</a>
          </li>
        </ul>
      </div>
      <div class="nav-user-wrapper">
        <button href="##" class="nav-user-btn dropdown-btn" title="My profile" type="button">
          <span class="sr-only">My profile</span>
          <span class="nav-user-img">
            <picture><source srcset="./img/avatar/avatar-illustrated-02.webp" type="image/webp"><img src="./img/avatar/avatar-illustrated-02.png" alt="User name"></picture>
          </span>
        </button>
        <ul class="users-item-dropdown nav-user-dropdown dropdown">
          <li><a href="##">
              <i data-feather="user" aria-hidden="true"></i>
              <span>Profile</span>
            </a></li>
          <li><a href="##">
              <i data-feather="settings" aria-hidden="true"></i>
              <span>Account settings</span>
            </a></li>
          <li><a class="danger" href="##">
              <i data-feather="log-out" aria-hidden="true"></i>
              <span>Log out</span>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
    <!-- ! Main -->
    <main class="main" id="skip-target">
      <div class="container">
        <h2 class="main-title">Media Library</h2>
        <div class="media-content">
          <div class="row">
            <div class="col-lg-3">
              <h3 class="media-sidebar__title">Quick links</h3>
              <div class="media-sidebar">
                <ul class="quick-links">
                  <li>
                    <a class="info" href="##">
                      <div class="quick-links-icon">
                        <span class="icon time-circle" aria-hidden="true"></span>
                      </div>
                      <div class="quick-links-text">
                        <span class="quick-links__title">Recent files</span>
                        <span class="quick-links__subtitle">Recent uploaded files</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="success" href="##">
                      <div class="quick-links-icon">
                        <span class="icon google-drive" aria-hidden="true"></span>
                      </div>
                      <div class="quick-links-text">
                        <span class="quick-links__title">Google Drive</span>
                        <span class="quick-links__subtitle">Media files from Google</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="primary" href="##">
                      <div class="quick-links-icon">
                        <span class="icon dropbox" aria-hidden="true"></span>
                      </div>
                      <div class="quick-links-text">
                        <span class="quick-links__title">Dropbox</span>
                        <span class="quick-links__subtitle">Media files from Dropbox</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="warning" href="##">
                      <div class="quick-links-icon">
                        <span class="icon star" aria-hidden="true"></span>
                      </div>
                      <div class="quick-links-text">
                        <span class="quick-links__title">Starred files</span>
                        <span class="quick-links__subtitle">Recent uploaded files</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="danger" href="##">
                      <div class="quick-links-icon">
                        <span class="icon delete" aria-hidden="true"></span>
                      </div>
                      <div class="quick-links-text">
                        <span class="quick-links__title">Trashed files</span>
                        <span class="quick-links__subtitle">Recent uploaded files</span>
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="storage">
                  <span class="storage__indicator">Free</span>
                  <h4 class="storage__title">Storage</h4>
                  <div class="progress">
                    <div class="progress-bar fill-25" role="progressbar"></div>
                  </div>
                  <p class="storage__info">4.06 GB (32%) of 15 GB used</p>
                </div>
                <div class="upgrade">
                  <p>Upgrade to <b>PRO</b> for get unlimited storage.</p>
                  <a class="upgrade-btn" href="##">Upgrade now <i data-feather="chevron-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sort-bar media-bar">
                <div class="sort-bar-start">
                  <div class="search-wrapper">
                    <i data-feather="search" aria-hidden="true"></i>
                    <input type="text" placeholder="Search" required>
                  </div>
                </div>
                <div class="sort-bar-end">
                  <div class="select-wrapper me-10">
                    <button class="view-sort-btn transparent-btn" type="button" title="Grid view">
                      <span class="sr-only">Grid view</span>
                      <i data-feather="grid" aria-hidden="true"></i>
                    </button>
                  </div>
                  <div class="select-wrapper">
                    <button class="view-sort-btn transparent-btn" type="button" title="List view">
                      <span class="sr-only">List view</span>
                      <i data-feather="list" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="users-table table-wrapper">
                <table class="library-table">
                  <thead>
                    <tr class="users-table-info">
                      <th>
                        <label class="users-table__checkbox ms-20">
                          <input type="checkbox" class="check-all">ID
                        </label>
                      </th>
                      <th>Name</th>
                      <th>Last modified</th>
                      <th>Uploaded date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check">
                          #5162
                        </label>
                      </td>
                      <td>
                        <div class="library-table-name">
                          <span class="info">
                            <i data-feather="folder" aria-hidden="true"></i>
                          </span>
                          Documents
                        </div>
                      </td>
                      <td>3 days ago</td>
                      <td>14 April 2021</td>
                      <td>
                        <span class="p-relative">
                          <button class="dropdown-btn transparent-btn" type="button" title="More info">
                            <div class="sr-only">More info</div>
                            <i data-feather="more-horizontal" aria-hidden="true"></i>
                          </button>
                          <ul class="users-item-dropdown dropdown">
                            <li><a href="##">Edit</a></li>
                            <li><a href="##">Quick edit</a></li>
                            <li><a href="##">Trash</a></li>
                          </ul>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check">
                          #5162
                        </label>
                      </td>
                      <td>
                        <div class="library-table-name">
                          <span class="info">
                            <i data-feather="folder" aria-hidden="true"></i>
                          </span>
                          Documents
                        </div>
                      </td>
                      <td>10 minutes ago</td>
                      <td>14 April 2021</td>
                      <td>
                        <span class="p-relative">
                          <button class="dropdown-btn transparent-btn" type="button" title="More info">
                            <div class="sr-only">More info</div>
                            <i data-feather="more-horizontal" aria-hidden="true"></i>
                          </button>
                          <ul class="users-item-dropdown dropdown">
                            <li><a href="##">Edit</a></li>
                            <li><a href="##">Quick edit</a></li>
                            <li><a href="##">Trash</a></li>
                          </ul>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check">
                          #5162
                        </label>
                      </td>
                      <td>
                        <div class="library-table-name">
                          <span class="info">
                            <i data-feather="folder" aria-hidden="true"></i>
                          </span>
                          Presentations
                        </div>
                      </td>
                      <td>2 hours ago</td>
                      <td>14 April 2021</td>
                      <td>
                        <span class="p-relative">
                          <button class="dropdown-btn transparent-btn" type="button" title="More info">
                            <div class="sr-only">More info</div>
                            <i data-feather="more-horizontal" aria-hidden="true"></i>
                          </button>
                          <ul class="users-item-dropdown dropdown">
                            <li><a href="##">Edit</a></li>
                            <li><a href="##">Quick edit</a></li>
                            <li><a href="##">Trash</a></li>
                          </ul>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check">
                          #5162
                        </label>
                      </td>
                      <td>
                        <div class="library-table-name">
                          <span class="purple">
                            <i data-feather="image" aria-hidden="true"></i>
                          </span>
                          IMG_7487.png
                        </div>
                      </td>
                      <td>2 minutes ago</td>
                      <td>14 April 2021</td>
                      <td>
                        <span class="p-relative">
                          <button class="dropdown-btn transparent-btn" type="button" title="More info">
                            <div class="sr-only">More info</div>
                            <i data-feather="more-horizontal" aria-hidden="true"></i>
                          </button>
                          <ul class="users-item-dropdown dropdown">
                            <li><a href="##">Edit</a></li>
                            <li><a href="##">Quick edit</a></li>
                            <li><a href="##">Trash</a></li>
                          </ul>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check">
                          #5162
                        </label>
                      </td>
                      <td>
                        <div class="library-table-name">
                          <span class="danger">
                            <i data-feather="film" aria-hidden="true"></i>
                          </span>
                          Wildlife.mp4
                        </div>
                      </td>
                      <td>12 hours ago</td>
                      <td>14 April 2021</td>
                      <td>
                        <span class="p-relative">
                          <button class="dropdown-btn transparent-btn" type="button" title="More info">
                            <div class="sr-only">More info</div>
                            <i data-feather="more-horizontal" aria-hidden="true"></i>
                          </button>
                          <ul class="users-item-dropdown dropdown">
                            <li><a href="##">Edit</a></li>
                            <li><a href="##">Quick edit</a></li>
                            <li><a href="##">Trash</a></li>
                          </ul>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check">
                          #5162
                        </label>
                      </td>
                      <td>
                        <div class="library-table-name">
                          <span class="purple">
                            <i data-feather="image" aria-hidden="true"></i>
                          </span>
                          IMG_1487.png
                        </div>
                      </td>
                      <td>3 days ago</td>
                      <td>14 April 2021</td>
                      <td>
                        <span class="p-relative">
                          <button class="dropdown-btn transparent-btn" type="button" title="More info">
                            <div class="sr-only">More info</div>
                            <i data-feather="more-horizontal" aria-hidden="true"></i>
                          </button>
                          <ul class="users-item-dropdown dropdown">
                            <li><a href="##">Edit</a></li>
                            <li><a href="##">Quick edit</a></li>
                            <li><a href="##">Trash</a></li>
                          </ul>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check">
                          #5162
                        </label>
                      </td>
                      <td>
                        <div class="library-table-name">
                          <span class="warning">
                            <i data-feather="music" aria-hidden="true"></i>
                          </span>
                          14-Podcast
                        </div>
                      </td>
                      <td>12 hours ago</td>
                      <td>14 April 2021</td>
                      <td>
                        <span class="p-relative">
                          <button class="dropdown-btn transparent-btn" type="button" title="More info">
                            <div class="sr-only">More info</div>
                            <i data-feather="more-horizontal" aria-hidden="true"></i>
                          </button>
                          <ul class="users-item-dropdown dropdown">
                            <li><a href="##">Edit</a></li>
                            <li><a href="##">Quick edit</a></li>
                            <li><a href="##">Trash</a></li>
                          </ul>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check">
                          #5162
                        </label>
                      </td>
                      <td>
                        <div class="library-table-name">
                          <span class="success">
                            <i data-feather="file" aria-hidden="true"></i>
                          </span>
                          Subscribers
                        </div>
                      </td>
                      <td>12 hours ago</td>
                      <td>14 April 2021</td>
                      <td>
                        <span class="p-relative">
                          <button class="dropdown-btn transparent-btn" type="button" title="More info">
                            <div class="sr-only">More info</div>
                            <i data-feather="more-horizontal" aria-hidden="true"></i>
                          </button>
                          <ul class="users-item-dropdown dropdown">
                            <li><a href="##">Edit</a></li>
                            <li><a href="##">Quick edit</a></li>
                            <li><a href="##">Trash</a></li>
                          </ul>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="library-table-sum">
                <p><span class="checked-sum">0</span> Item selected</p>
                <button class="media-table-btn" type="button">Assign to folder</button>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="media-dropzone">
                <h3 class="media-dropzone__title media-sidebar__title">Import new files</h3>
                <p class="media-dropzone__subtitle">Just drag and drop the files and assign to right folder.</p>
                <div class="dropzone-wrapper" id="dropzone">
                  <div class="dropzone-start">
                    <i data-feather="upload-cloud" aria-hidden="true"></i>
                    <p class="dropzone-hint">Drop files to upload or</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ! Footer -->
    <footer class="footer">
  <div class="container footer--flex">
    <div class="footer-start">
      <p>2021 © Elegant Dashboard - <a href="elegant-dashboard.com" target="_blank"
          rel="noopener noreferrer">elegant-dashboard.com</a></p>
    </div>
    <ul class="footer-end">
      <li><a href="##">About</a></li>
      <li><a href="##">Support</a></li>
      <li><a href="##">Puchase</a></li>
    </ul>
  </div>
</footer>
  </div>
</div>
<!-- Chart library -->
<script src="./plugins/chart.min.js"></script>
<!-- Dropzone JS -->
<script src="plugins/dropzone/dropzone.js"></script>
<!-- Icons library -->
<script src="plugins/feather.min.js"></script>
<!-- Quill library -->
<script src="./plugins/quill.js"></script>
<!-- Custom scripts -->
<script src="js/script.js"></script>
</body>

</html>